<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Pesquisa de Prestador</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    {% extends "base.html" %}
    {% block content %}
    <h2>Pesquisa de Prestador</h2>
    <form method="GET" action="{{ url_for('pesquisa_prestador') }}">
        <label for="nome">Nome:</label>
        <input type="text" id="nome" name="nome">
        
        <label for="especialidade">Especialidade:</label>
        <input type="text" id="especialidade" name="especialidade">

        <button type="submit">Pesquisar</button>
    </form>
    <ul>
        {% for prestador in resultados %}
        <li>{{ prestador.full_name }} - {{ prestador.specialty }}</li>
        {% endfor %}
    </ul>
    {% endblock %}
</body>
</html>
